/* Style de la bannière du titre */
.lmj-banner {
	background-image: url('../assets/banner-background.jpg');
	color: #31b572;
	text-align: right;
	padding: 32px;
	border-bottom: solid 3px rgb(168, 177, 155);
	display: flex;
	justify-content: flex-end;
	flex-direction: row;
	align-items: center;
}

.lmj-title {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	padding: 0 20px 0 25px;
	background-color: rgba(255, 255, 255, 0.801);
	border-radius: 30px 5px;
}

.lmj-logo {
	height: 45px;
	width: 45px;
}