/* Style du panier*/
.lmj-cart {
	position: absolute;
	width: 250px;
	height: 100vh;
	z-index: 10;
	color: white;
	background-color: #31b572;
	padding: 32px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	/* transform: translate(-400px, 0); */
	/* transition: transform 1s ease-in-out; */
}

@media  screen and (max-width: 700px) {
	.lmj-cart {
		width: 40%;
	}

	.lmj-cart-closed {
		width: 40%;
	}
}

.lmj-cart-add-button {
	margin-left: 32px;
	cursor: pointer;
}

.lmj-cart-toggle-button {
	background: none;
	outline: none;
	border: none;
	border-bottom: 4px solid #a4d3bc;
	padding-left: 5px;
	font-size: 0.9em;
	font-weight: 600;
	cursor: pointer;
	align-self: self-start;
	color: white;
}

.lmj-logo-cart {
	width: 25px;
	height: auto;
	margin-right: 5px;
}

.lmj-item-cart {
	margin-left: -35px;
	text-transform: capitalize;
}

.lmj-remove-item-cart {
	cursor: pointer;
	width: 25px;
	height: 25px;
	color: #31b572;
	background-color: white;
	outline-style: none;
	border: none;
	border-radius: 6px;
	font-weight: bold;
	margin-left: 5px;
}

.lmj-remove-item-cart:hover {
	color: white;
	background-color: #a4d3bc;;
}

.lmj-button-pay-cart {
	border: none;
	background-color: #a4d3bc;
	color: white;
	border: 2px solid #a4d3bc;
	border-radius: 5px;
	padding: 5px 15px;
	font-weight: bold;
}

.lmj-button-pay-cart:hover {
	cursor: pointer;
	background-color: white;
	color: #88bba2;
	border: 2px solid white;
}

.lmj-button-clean-cart {
	border: none;
	background-color: white;
	color: #88bba2;
	border: 2px solid white;
	border-radius: 5px;
	padding: 5px 15px;
	font-weight: bold;
	margin: 10px 0 15px 0;
}

.lmj-button-clean-cart:hover {
	cursor: pointer;
	background-color: #a4d3bc;
	color: white;
	border: 2px solid #a4d3bc;
}

.lmj-cart-closed {
	position: absolute;
	width: 250px;
	height: 100vh;
	padding: 32px;
}

.lmj-cart-closed > button {
	color: #31b472;
	font-size: 1em;
	border: 0;
	border-left: 4px solid #31b472;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row-reverse;
}

.lmj-cart-closed span {
	position: absolute;
	transform: translate(78px, -35px);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 15px;
	height: 15px;
	background-color: white;
	color: #31b472;
	border: 2px solid #ffc107;
	border-radius: 15px;
	font-size: 0.8em;
	font-weight: bold;
}

/* Traits qui pop lors d'ajout d'articles au panier */
.lmj-cart-add-pop-box {
	position: absolute;
	transform: translate(78px, -35px);
	display: block;
}

/* Trait de Gauche */
.lmj-cart-add-pop:nth-child(1) {
	position: absolute;
	width: 4px;
	height: 7px;
	background-color: #ffc107;
	transform: rotate(90deg) translateY(7px);
}

/* Trait du Haut */
.lmj-cart-add-pop:nth-child(2) {
	position: absolute;
	width: 4px;
	height: 7px;
	background-color: #ffc107;
	transform: translateY(-10px);
	margin-left: 8px;
}

/* Trait de droite */
.lmj-cart-add-pop:nth-child(3) {
	position: absolute;
	width: 4px;
	height: 7px;
	background-color: #ffc107;
	transform: rotate(90deg) translateY(-5px);
	margin-left: 18px;
}


h3 {
	margin-bottom: -10px;
}